<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clozerr.app" android:installLocation="preferExternal">

    <permission
        android:name="com.clozerr.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.clozerr.app.permission.C2D_MESSAGE" />
    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:name=".Analytics"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".LocationService"
            android:label="Service for Location" />

        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".FAQ"
            android:label="FAQ"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="AboutUs"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.clozerr.app" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_config" />

        <receiver
            android:name=".PhoneStartupReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>

        <service
            android:name=".PeriodicBFS"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!--<service
            android:name=".OneTimeBFS"
            android:enabled="true"
            android:exported="false" >
        </service>-->
        <service
            android:name="com.jaalee.sdk.service.BeaconService"
            android:exported="false" />

        <receiver
            android:name=".BeaconDBDownloadBaseReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>
        <receiver
            android:name=".BeaconDBDownloader"
            android:enabled="false"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!--
        <activity
            android:name=".PeriodicBFS$VendorListActivity"
            android:label="@string/app_name" >
        </activity>
        -->


        <!--
            <receiver
            android:name=".PeriodicBFS$ScanStarter"
            android:enabled="false"
            android:exported="false" />
        -->

        <receiver
            android:name=".PeriodicBFS$ScanResumeReceiver"
            android:enabled="false"
            android:exported="false" />

        <activity
            android:name=".CategoryDetail"
            android:label="@string/title_activity_catogory_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".VendorActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FreebieDescription"
            android:label="@string/title_activity_freebie_description"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name="com.commonsware.cwac.wakeful.AlarmReceiver" >
            <!--<intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>-->
            <meta-data
                android:name="com.commonsware.cwac.wakeful"
                android:resource="@xml/wakeful" />
        </receiver>

        <activity
            android:name=".UnusedOffersActivity"
            android:label="@string/title_activity_unused_offers"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".QRActivity"
            android:label="@string/title_activity_qr" >
        </activity>

        <service android:name=".GeofenceManagerService" />
        <service
            android:name=".GeofenceManagerService$GeofenceTransitionsIntentService"
            android:exported="true" />

        <receiver
            android:name=".PhoneShutdownReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".GiftBoxActivity"
            android:label="@string/title_activity_gift_box" >
        </activity>
        <activity
            android:name=".PinnedOffersActivity"
            android:label="@string/title_activity_pinned_offers" >
        </activity>
        <service android:name=".Home$InStoreInstallBFS"
            android:enabled="true"
            android:exported="true"/>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
